body {
	background: #C8A2C8;
	transition: background-color 1s ease;
}

/*#page{
	transition: 2s;
}*/

h1 {
	text-align: center;
	margin-top: 50px;
	font-size: 70px;
	text-decoration: underline;
}

p{
	font-size: 30px;
	
}

input {
	font-size: 30px;
}

